################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MD5/.vs/MD5
/MD5/x64/Debug
