################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Repos/v17
/MD5/.vs/MD5/FileContentIndex
/MD5_old
/Доработать MD5.txt
